/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: render1980
   ========================================================================== */

html, body, ul, li, h1, p, img{ margin: 0; padding: 0; border: 0; outline: 0;}
html, body { height: 100% }
body a { text-decoration: none; }
p { text-align: justify; margin-top: 10px }

#header, #top_menu, #main{ padding-left: 100px; height: 100%; }

#wrapper { position: relative; margin: 0px; height: auto; min-height: 100%; }

#header { height: 60px; }
#header h1 { padding: 8px 0 0 0; }
#logo { height: 100%; width: 150px; }

#nav { background: url('../img/nav_background.png'); height: 40px; border: 1px solid;}

#main { margin-top: 30px; height: auto;}

.article { width: 720px;}
.article ul { list-style: disc; padding-left: 20px;}
.article h2 { margin: 0 }
.article img { max-width: 720px;}
.article table td { padding: 5px; }

.http_mes { border: 1px solid #ccc; width: 600px; padding: 5px; }

#footer_blank { height: 100px; clear: both;}
#footer { font-size: 12px; background: #F6F6F6; height: 70px; width: 100%; position: absolute; margin: -70px 0px 0px 0px;}
#bottom_menu { margin: 15px 0px 0px 100px }
#copyrigth { margin: 5px 0px 0px 100px }
#bottom_menu li { display:inline; border-right: 1px solid #656564; padding: 0px 5px 0px 0px}

/*TOP MENU*/
/*level 1*/
#top_menu { /**/height:100%; list-style: none; width: 940px}
#top_menu > li{ float: left; border-left: 1px solid #656564; height: 100%;}
#top_menu  > li a{ 
	display: block;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 100%;
}
#top_menu li:hover { background-color: gray; }

#top_menu .menu_elem { padding-left: 30px; padding-right: 30px;}
.menu_elem { padding: 8px 0 0 0; }
#last { height: 100%; border-right: 1px solid #656564 }

.arrow { background: url('../img/arrow.png'); width: 10px; height: 10px; 
	position: relative;
	float: right;
    right: -20px;
	top: 7px;
}

/*level 2*/
#top_menu li ul { visibility: hidden; width: 250px; position: absolute; border-top: 1px solid #ccc; z-index: 1001px;}
#top_menu li ul li { background: #000; float:none; 
list-style: none; padding: 8px;}
#top_menu ul li a { text-align: left }

/*======*/

/*LEFT MENU*/
#left_menu{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
  float: left;
  margin-right: 30px;
}

#left_menu ul{ list-style-type: none; }

#left_menu a {
  display: block;
  text-decoration: none;    
}

#left_menu li {
  margin-top: 1px;
}

#left_menu li a {
  background: #333;
  color: #fff;  
  padding: 0.5em;
}

#left_menu li a:hover {
  background: #000;
}

#left_menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

#left_menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; font-size: 14px;}
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
/*======*/
 
/*POPUP STYLES*/
#hidden-block { display: none; }
.center-block { width: 380px;  }
.center-block-title { background-color: black; padding: 5px 30px 8px 10px; font-weight: bold; color: #fff; text-align: center;}
.center-block-body { color: #000; padding: 5px 5px 5px 5px; background: #fff; font-weight: bold}
.center-block-body table { width: 100%; }
.center-block-body td { text-align: center; }
/*======*/

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
